[Desktop Entry]
Encoding=UTF-8
Name=InfiniLooP
Comment=InfiniLooP P2P Cryptocurrency
Comment[fr]=InfiniLooP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=InfiniLooP, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/infiniloop-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/infiniloop;
Categories=Office;
